/* Space out content a bit */

html {
  height: 100%;
}

body {
  height: 100%;
}

p, .popover-content {
  font-size: 1.9rem;
}

h5, .popover-title {
  font-size: 1.9rem;
}

.pl0 { padding-left: 0px !important; }

/* Custom page header */

.header {
  color: #FFFFFF;
  height: 5rem;
  position: relative;
}

.header:first-child a {
  padding: 0;
  height: 49px;
  position: relative;
  margin-right: 15px;
}

.header:first-child a:not(#btn-trash):after {
  background: url("../img/ui/separator.png") no-repeat scroll right center / 0.2rem 4.8rem rgba(0, 0, 0, 0);
  width: 2px;
  height: 49px;
  position: absolute;
  top: 0;
  content: "";
}

.header:first-child a:hover {
  background-color: #008EAB !important;
}

.header .icon {
  display: inline-block;
  width: 30px;
  height: 49px;
  vertical-align: top;
  float: none;
  overflow: hidden;
}

.header:first-child span.icon-menu {
  background: url("../img/icons/menu.png") no-repeat center center;
}

.header:first-child span.icon-back {
  background: url("../img/icons/back.png") no-repeat center center;
}

.header:first-child h1 {
  margin: 0px;
  line-height: 4.9rem;
  font-size: 2.5rem;
  width: 100%;
}

.header:first-child {
  background: url("../img/ui/header.png") repeat-x scroll 0 0 / auto 100% rgba(0, 0, 0, 0);
}

.header:first-child:after {
  background: url("../img/ui/shadow.png") repeat-x scroll 0 0 / auto 100% rgba(0, 0, 0, 0);
  content: "";
  display: block;
  height: 0.3rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

/** Action Icons **/
.action-icon:before {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  content: "";
  background: url("../img/icons/action_icons.png") no-repeat;
  background-size: 3rem 192rem;
}

.delete:before {
  background-position: -0px -570px;
}

.delete.icon {
  height: auto !important;
}

.cancel:before {
  background: url("../img/icons/close.png") no-repeat center center;
}

a#btn-trash {
  padding: 10px 0px !important;
  margin-right: 0px;
}

.header:first-child a#btn-trash:before {
  background: url("../img/ui/separator.png") no-repeat scroll right center / 0.2rem 4.8rem rgba(0, 0, 0, 0);
  width: 2px;
  height: 49px;
  position: absolute;
  top: 0;
  content: "";
}

/* bootstrap overwrite */

@media (max-width: 1500px) {
  .container {
    max-width: 100%;
    padding: 0px;
    height: 100%;
  }
}

.educacity-nav {
  margin: 0px;
  width: 100%;
}

@media (max-width: 767px) {
  .educacity-nav > li {
    float: left !important;
    overflow: hidden;
  }

  .educacity-nav > li > h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .educacity-nav > li.pull-right {
    float: right !important;
  }
}

/* POSITIONS */

#index {
  height: 100%;
}

[data-position="right"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  z-index: 15;
  z-index: 100;
  /* -> drawer */
}

section[role="region"][data-position="right"] {
  position: absolute;
}

[data-position="right"].current {
  animation: rightToCurrent 0.4s forwards;
  -webkit-animation: rightToCurrent 0.4s forwards;
}

[data-position="right"].right {
  animation: currentToRight 0.4s forwards;
  -webkit-animation: currentToRight 0.4s forwards;
}

[data-position="current"].left {
  animation: currentToLeft 0.4s forwards;
  -webkit-animation: currentToLeft 0.4s forwards;
}

[data-position="current"].current {
  animation: leftToCurrent 0.4s forwards;
  -webkit-animation: leftToCurrent 0.4s forwards;
}

[data-position="back"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
  /* z-index: 100; -> drawer */
}
[data-position="back"].fade-in {
  z-index: 120;
  animation: fadeIn 0.2s forwards;
  -webkit-animation: fadeIn 0.2s forwards;
}
[data-position="back"].fade-out {
  animation: fadeOut 0.2s forwards;
  -webkit-animation: fadeOut 0.2s forwards;
}

section[role="region"] {
  position: relative;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  width: 100%;
  z-index: 100;
}

section[role="region"]:not(#index) {
  -webkit-transition: none;
  transition: none;
  left: 0;
  z-index: 0;
  padding-left: 0;
}

/** Google map **/

#educacity-map {
  height: 100%;
  width: 100%;
}

div[role="main"] {
  height: 100%;
  position: relative;
  background-color: #F4F4F4;
}

/** Sites **/

div#search {
  padding: 15px;
}

div#search > input {
  border-radius: 0px !important;
}

div#search > input:focus {
  border-color: #CCCCCC;
  box-shadow: none;
}

.list-group-item {
  border-radius: 0px !important;
  overflow: hidden;
}

.list-group-item img {
  max-width: 240px;
}

.list-group {
  margin: 0px !important;
}

.img-polaroid {
  width: 240px;
  height: 160px;
  overflow: hidden;
  margin-right: 20px;
}

@media (min-width: 321px) {
  .list-group-item {
    float: left;
    min-width: 50%;
    max-width: 50%;
    height: 148px;
  }
}

@media (max-width: 320px) {
  .educacity-img-thumbnail {
    max-height: 80px;
  }

  .list-group-item {
    height: 120px;
  }
}

.educacity-img-thumbnail {
  overflow: hidden;
  padding-left: 0px !important;
  max-height: 125px;
}

.educacity-img-thumbnail img {
  width: 100%;
}

/** Site Info **/

div[role="note"] {
  background-color: #F4F4F4;
  overflow: hidden;
  position: relative;
}

div[role="note"].row {
  margin: 0px !important;
}

div[role="note"].row .col-md-12 {
  padding: 0px !important;
}

div[role="note"] h3 {
  color: #FF4E00;
  text-transform: uppercase;
  border-bottom: solid 1px;
  font-size: 20px;
}

div[role="note"] p {
  text-align: justify;
  text-indent: 25px;
}

div[role="note"] p.street-address {
  font-style: italic;
  color: #555555;
  text-indent: 0px;
}

/** SELECTED ITEMS **/
.selected {
  background-color: #00AACC;
}

.selected a {
  color: #FFF !important;
}

/** TOOLBAR **/

[role="toolbar"] {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
  bottom: 0;
  height: 4rem;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
[role="toolbar"] ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
[role="toolbar"] ul:last-child {
  float: right;
}
[role="toolbar"] li {
  float: left;
  position: relative;
}
[role="toolbar"] button {
  background: none no-repeat scroll 50% 50% / 3rem auto rgba(0, 0, 0, 0);
  border: medium none;
  border-radius: 0;
  font-size: 0;
  height: 4rem;
  padding: 0;
  width: 5.5rem;
}
[role="toolbar"] button:active {
  background-color: #008AAA;
}

[role="toolbar"] .action-icon:before {
  left: 1.25rem;
  top: 0.5rem;
}

/** TUTORIAL STYLES **/

.popover-title {
  color: #FF4E00;
}

.btn {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
}