/* Space out content a bit */

html {
  height: 100%;
}

body {
  height: 100%;
}

/* Custom page header */

.header {
  color: #FFFFFF;
  height: 5rem;
  position: relative;
}

.header:first-child a {
  padding: 0;
  height: 49px;
  position: relative;
  margin-right: 15px;
}

.header:first-child a:after {
  background: url("../img/ui/separator.png") no-repeat scroll right center / 0.2rem 4.8rem rgba(0, 0, 0, 0);
  width: 2px;
  height: 49px;
  position: absolute;
  top: 0;
  content: "";
}

.header:first-child a:hover {
  background-color: #008EAB !important;
}

.header .icon {
  display: inline-block;
  width: 30px;
  height: 49px;
  vertical-align: top;
  float: none;
  overflow: hidden;
}

.header:first-child span.icon-menu {
  background: url("../img/icons/menu.png") no-repeat center center;
}

.header:first-child span.icon-back {
  background: url("../img/icons/back.png") no-repeat center center;
}

.header:first-child h1 {
  margin: 0px;
  line-height: 4.9rem;
  font-size: 2.5rem;
  width: 100%;
}

.header:first-child {
  background: url("../img/ui/header.png") repeat-x scroll 0 0 / auto 100% rgba(0, 0, 0, 0);
}

.header:first-child:after {
  background: url("../img/ui/shadow.png") repeat-x scroll 0 0 / auto 100% rgba(0, 0, 0, 0);
  content: "";
  display: block;
  height: 0.3rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

/* bootstrap overwrite */

@media (max-width: 1500px) {
  .container {
    max-width: 100%;
    padding: 0px;
    height: 100%;
  }
}

.educacity-nav {
  margin: 0px;
}

.educacity-nav > li {
  float: left !important;
}

/* POSITIONS */

#index {
  height: 100%;
}

[data-position="right"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  z-index: 15;
  z-index: 100;
  /* -> drawer */
}

section[role="region"][data-position="right"] {
  position: absolute;
}

[data-position="right"].current {
  animation: rightToCurrent 0.4s forwards;
  -webkit-animation: rightToCurrent 0.4s forwards;
}

[data-position="right"].right {
  animation: currentToRight 0.4s forwards;
  -webkit-animation: currentToRight 0.4s forwards;
}

[data-position="current"].left {
  animation: currentToLeft 0.4s forwards;
  -webkit-animation: currentToLeft 0.4s forwards;
}

[data-position="current"].current {
  animation: leftToCurrent 0.4s forwards;
  -webkit-animation: leftToCurrent 0.4s forwards;
}

section[role="region"] {
  position: relative;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  width: 100%;
  z-index: 100;
}

section[role="region"]:not(#index) {
  -webkit-transition: none;
  transition: none;
  left: 0;
  z-index: 0;
  padding-left: 0;
}

/** Google map **/

#map_canvas {
  height: 100%;
  width: 100%;
}

div[role="main"] {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}