<nav class="nav navbar-default header" role="navigation">
    <ul ng-if="home == 'false'" class="nav navbar-nav educacity-nav">
        <li ng-if="button == 'menu'">
            <a id="btn-menu" href="#"><span class="icon icon-menu"></span></a>
        </li>
        <li ng-if="button == 'back'">
            <a id="btn-back" href="" ng-click="eventHandler()"><span class="icon icon-back"></span></a>
        </li>
        <li>
            <h1 class="text-center" ng-bind="title"></h1>
        </li>
    </ul>
    <h1 ng-if="home == 'true'" class="text-center">Educacity</h1>
</nav>