<div role="main" ng-controller="MainCtrl">
    <section id="index" role="region" data-position="current">
        <app-header city="Sevilla" home="true" button="menu"></app-header>

        <div id="map_canvas" gmap="gmap">

        </div>
    </section>

    <section id="pointOfInterest" role="region" data-position="right">
        <nav class="nav navbar-default header" role="navigation">
            <ul class="nav navbar-nav educacity-nav">
                <li>
                    <a id="btn-back" href="#"><span class="icon icon-back"></span></a>
                </li>
                <li>
                    <h1 class="text-center" ng-bind="title"></h1>
                </li>
            </ul>
        </nav>
    </section>
</div>