<div role="main">
    <section id="index" role="region" data-position="current">
        <app-header title="Mis Sitios" home="false" button="menu" trash="false"></app-header>
        <sites-list></sites-list>
    </section>

    <section id="pointOfInterest" data-position="back">
        <app-header title="" home="false" button="back" ng-function="currentToBack()"></app-header>
        <div role="note" class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <img ng-src="{{request.image}}" alt="{{request.title}}">
                    <div class="caption">
                        <h3 ng-bind="request.title"></h3>
                        <p class="street-address" ng-bind="request.street"></p>
                        <p ng-bind="request.description"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>